html {
  font-size: 16px;
}

.ui-flex {
  display: flex;
  align-items: center;
}

.view {
  min-height: 100vh;
  background-color: #f4f4f4;
}

#app {
  .ui-content {
    padding-left: 12px;
    padding-right: 12px;
  }

  .ui-content--full {
    padding-left: 0;
    padding-right: 0;
  }

  .van-button--large {
    height: 44px;
    line-height: 42px;
  }

  .van-nav-bar {
    position: sticky;
    top: 0;
    color: #333;
    background-color: #fff;
    .van-nav-bar__title {
      color: #333;
    }
    .van-nav-bar__text,
    .van-icon {
      color: inherit;
    }
  }
}
