#app {
  .view {
    min-height: 100vh;
    background-color: #e8eef2;
  }

  .van-button--large {
    height: 44px;
    line-height: 42px;
  }

  .van-nav-bar {
    color: #333;
    background-color: #fff;
    .van-nav-bar__title {
      color: #333;
    }
    .van-nav-bar__text,
    .van-icon {
      color: inherit;
    }
  }
}
